<section>
	<h2>Default</h2>
	<p>
		The basic style of the progress bar.
	</p>
	<Progress v-model="value1" />
</section>

<section>
	<h2>Simple</h2>
	<p>
		The progress bar does not have borders.
	</p>
	<Progress v-model="value2" variant="simple" />
</section>

<section>
	<h2>Simple + Flat</h2>
	<p>
		The progress bar of the rectangular form.
	</p>
	<Progress v-model="value3" variant="simple flat" />
</section>

<section>
	<h2>Striped + Animated</h2>
	<p>
		Add animation effects to stripes style.
	</p>
	<Progress v-model="value4" striped animated />
</section>
