<div class="jui-grid-vue-root theme-classic">
<table id="table_2" class="table simple stripeless">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <template v-for="(row, index) in data" :key="index">
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.age }}</td>
                <td v-if="index % 2 === 0" :rowspan="2">{{ row.location }}</td>
            </tr>
        </template>
    </tbody>
</table>
</div>
