<div class="jui-grid-vue-root theme-classic">
<table id="table_8" ref="tableRef" class="table classic" style="position: relative;">
    <thead>
    <tr>
        <th width="50px" style="cursor: pointer;" :style="{ width: colWidths.no ? colWidths.no + 'px' : undefined, boxSizing: colWidths.no ? 'border-box' : undefined }" @click="sortBy('index')">No<i v-if="sortField === 'index'" :class="sortOrder === 'asc' ? 'icon-arrow3' : 'icon-arrow1'"></i><div class="resize" style="position: absolute; width: 8px; height: 28px; top: 0px; cursor: w-resize; z-index: 1;" :style="{ left: resizeLeft.no + 'px' }" @mousedown="onResizeStart('no', $event)"></div></th>
        <th style="cursor: pointer;" :style="{ width: colWidths.name ? colWidths.name + 'px' : undefined, boxSizing: colWidths.no ? 'border-box' : undefined }" @click="sortBy('name')">Name<i v-if="sortField === 'name'" :class="sortOrder === 'asc' ? 'icon-arrow3' : 'icon-arrow1'"></i><div class="resize" style="position: absolute; width: 8px; height: 28px; top: 0px; cursor: w-resize; z-index: 1;" :style="{ left: resizeLeft.name + 'px' }" @mousedown="onResizeStart('name', $event)"></div></th>
        <th style="cursor: pointer;" :style="{ width: colWidths.age ? colWidths.age + 'px' : undefined, boxSizing: colWidths.no ? 'border-box' : undefined }" @click="sortBy('age')">Age<i v-if="sortField === 'age'" :class="sortOrder === 'asc' ? 'icon-arrow3' : 'icon-arrow1'"></i><div class="resize" style="position: absolute; width: 8px; height: 28px; top: 0px; cursor: w-resize; z-index: 1;" :style="{ left: resizeLeft.age + 'px' }" @mousedown="onResizeStart('age', $event)"></div></th>
        <th style="cursor: pointer;" :style="{ width: colWidths.location ? colWidths.location + 'px' : undefined, boxSizing: colWidths.no ? 'border-box' : undefined }" @click="sortBy('location')">Location<i v-if="sortField === 'location'" :class="sortOrder === 'asc' ? 'icon-arrow3' : 'icon-arrow1'"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(row, index) in rows" :key="row.id">
        <td>
            <div v-if="isEditingRow(row)" class="edit" disabled style="width: 100%;">{{ index }}</div>
            <template v-else>{{ index }}</template>
        </td>
        <td @dblclick="startEdit(row, 'name')">
            <input v-if="isEditingRow(row)" type="text" class="edit" style="width: 100%;" v-model="draft.name" @keyup.enter="commitEdit(row)" />
            <template v-else>{{ row.data.name }}</template>
        </td>
        <td @dblclick="startEdit(row, 'age')">
            <input v-if="isEditingRow(row)" type="text" class="edit" style="width: 100%;" v-model="draft.age" @keyup.enter="commitEdit(row)" />
            <template v-else>{{ row.data.age }}</template>
        </td>
        <td>
            <div v-if="isEditingRow(row)" class="edit" disabled style="width: 100%;">{{ row.data.location }}</div>
            <template v-else>{{ row.data.location }}</template>
        </td>
    </tr>
    </tbody>
</table>
</div>
