<div class="jui-grid-vue-root theme-classic">
<div style="max-height: 181px; overflow: auto; position: relative;">
<table id="table_7" class="table classic stripeless has-scroll">
    <thead>
    <tr>
        <th style="cursor: pointer;" @click="sortBy('name')">Name<i v-if="sortField === 'name'" :class="sortOrder === 'asc' ? 'icon-arrow3' : 'icon-arrow1'"></i><div class="resize" style="position: absolute; width: 8px; height: 28px; left: 181px; top: 0px; cursor: w-resize; z-index: 1;"></div></th>
        <th style="cursor: pointer;" @click="sortBy('age')">Age<i v-if="sortField === 'age'" :class="sortOrder === 'asc' ? 'icon-arrow3' : 'icon-arrow1'"></i><div class="resize" style="position: absolute; width: 8px; height: 28px; left: 363px; top: 0px; cursor: w-resize; z-index: 1;"></div></th>
        <th style="cursor: pointer;" @click="sortBy('location')">Location<i v-if="sortField === 'location'" :class="sortOrder === 'asc' ? 'icon-arrow3' : 'icon-arrow1'"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="row in rows" :key="row.id">
        <td>{{ row.data.name }}</td>
        <td>{{ row.data.age }}</td>
        <td>{{ row.data.location }}</td>
    </tr>
    </tbody>
</table>
</div>
</div>