<div class="jui-grid-vue-root theme-classic">
<table id="table_9" class="table simple headline" style="position: relative; width: 546px;">
    <thead>
    <tr>
        <th width="50px">No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody><tr v-for="(row, index) in rows" :key="row.id" :class="{ selected: selectedId === row.id }" @contextmenu.prevent="showMenu($event, row)">
        <td>
            <div v-if="isEditingRow(row)" class="edit" disabled style="width: 100%;">{{ index }}</div>
            <template v-else>{{ index }}</template>
        </td>
        <td>
            <input v-if="isEditingRow(row)" type="text" class="edit" style="width: 100%;" v-model="draft.name" @keyup.enter="commitEdit(row)" />
            <template v-else>{{ row.data.name }}</template>
        </td>
        <td>
            <input v-if="isEditingRow(row)" type="text" class="edit" style="width: 100%;" v-model="draft.age" @keyup.enter="commitEdit(row)" />
            <template v-else>{{ row.data.age }}</template>
        </td>
        <td>
            <input v-if="isEditingRow(row)" type="text" class="edit" style="width: 100%;" v-model="draft.location" @keyup.enter="commitEdit(row)" />
            <template v-else>{{ row.data.location }}</template>
        </td>
    </tr></tbody>
</table>
</div>

<div id="table_9_dd" class="dropdown large" style="width: 152px;" :style="dropdownStyle">
    <ul style="width: 150px; display: block;">
        <li @click="onMenuSelect(0)">Edit</li>
        <li @click="onMenuSelect(1)">Close</li>
    </ul>
</div>
