<div class="jui-grid-vue-root theme-classic">
<table id="table_3" class="table expand">
    <thead>
        <tr>
            <th style="width: 30px"></th>
            <th>Name</th>
            <th>Age</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <template v-for="(row, index) in rows" :key="row.id">
            <tr @click="toggleRow(row.id)">
                <td><i :class="expandedRows.includes(row.id) ? 'icon-right' : 'icon-left'"></i></td>
                <td>{{ row.data.name }}</td>
                <td>{{ row.data.age }}</td>
                <td>{{ row.data.location }}</td>
            </tr>
            <tr v-if="expandedRows.includes(row.id)" class="expand">
                <td colspan="4">
                    <div class="row">
                        <div class="group">
                            <label class="label small">Name</label>
                            <input v-model="row.data.name" type="text" class="input small" style="width: 80px" />
                        </div>
                        <div class="group">
                            <label class="label small">Age</label>
                            <input v-model="row.data.age" type="text" class="input small" style="width: 80px" />
                        </div>
                        <div class="group">
                            <label class="label small">Location</label>
                            <input v-model="row.data.location" type="text" class="input small" style="width: 80px" />
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="group">
                            <button @click.stop="onSubmit(row)" class="btn small">Submit</button>
                            <button @click.stop="onDelete(row)" class="btn small">Delete</button>
                            <button @click.stop="collapseRow(row.id)" class="btn small">Cancel</button>
                        </div>
                    </div>
                </td>
            </tr>
        </template>
    </tbody>
</table>
</div>
