<link rel="stylesheet" href="gallery/list.css" />

<div class="gallery-container">
    <div class="gallery-list">
        {% for item in gallery_list %}
        {% set thumbnail = "gallery/" ~ item.info.name ~ "/thumbnail.png" %}
        {% set link = "gallery/" ~ item.info.name ~ "/index.html" %}
        <div class="item{% if not item.has_thumbnail %} iframe{% endif %}">
            <div class="wrap">
                <div class="body">
                    {% if item.has_thumbnail %}
                    <img src="{{ thumbnail }}" onclick="{{ link }}" />
                    {% else %}
                    <iframe border="0" frameborder="0" src="{{ link }}" scrolling="no"></iframe>
                    {% endif %}
                    <a href="/?p=gallery.{{ item.info.name }}"></a>
                </div>
                <div class="footer">
                    <div class="title" title="{{ item.info.title }}">{{ item.info.title }}</div>
                    <div class="description" title="{{ item.info.description }}">{{ item.info.description }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
