<link rel="stylesheet" href="gallery/view.css" />
<div class="gallery-view-container">
    <div class="gallery-view-info">
        <h1 class="title">{{ gallery_json.title }}</h1>
        <p class="description">{{ gallery_json.description }}</p>
        <p class="author">Created by
            <strong>{{ gallery_json.author }}</strong>

            {% if gallery_json.email %}
            <a href="mailto:{{ gallery_json.email }}"><small>({{ gallery_json.email }})</small></a>
            {% endif %}
        </p>
        <a class="link" target="_blank" href="https://github.com/juijs/www.jui.io/tree/master/gallery/{{ gallery_json.name }}">
            <i class="icon-edit"></i> View source
        </a>
    </div>
    <iframe src="/gallery/{{ gallery_id }}/index.html" width="100%" height="{{ gallery_json.height }}"></iframe>
</div>
