<title>JUI Gallery: {{ gallery_json.title }}</title>
<meta name="title" content="JUI Framework: {{ gallery_json.title }}" />
<meta name="description" content="{{ gallery_json.description }}" />
<meta name="keywords" content="{{ gallery_json.keywords | join(',') }}" />
<meta name="author" content="{{ gallery_json.author }}" />
<meta property="og:title" content="JUI Framework: {{ gallery_json.title }}" />
<meta property="og:description" content="{{ gallery_json.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://jui.io/?p=gallery.{{ gallery_json.name }}" />
{% if gallery_has_thumbnail %}
<meta property="og:image" content="http://jui.io/gallery/{{ gallery_id }}/thumbnail.png" />
{% endif %}
