<!DOCTYPE HTML>
<html>
<head>
    {% include "doc/header.html" %}

    {% if page and page.startswith("gallery.") %}
        {% include "gallery/view_metadata.html" %}
    {% elif not page %}
        {% include "doc/" ~ lang ~ "/home_metadata.html" %}
    {% elif page == "gallery" %}
        {% include "doc/" ~ lang ~ "/gallery_metadata.html" %}
    {% else %}
        {% include "doc/" ~ lang ~ "/" ~ page ~ "_metadata.html" %}
    {% endif %}
</head>
<body class="jui">
{% include "doc/header_menu.html" %}

{% if not page %}
    {% include "doc/" ~ lang ~ "/main.html" %}

    <article>
        <div class="center row">
            {% include "doc/" ~ lang ~ "/home.html" %}
        </div>
    </article>
{% elif page == "about" %}
    <nav class="navbar fixed top about">
        <div class="center">
            <div class="notice">
                {% include "doc/" ~ lang ~ "/about_title.html" %}
            </div>
            <img src="../res/img/about.png" />
        </div>
    </nav>
    <article>
        <div class="center row">
            {% include "doc/" ~ lang ~ "/about.html" %}
        </div>
    </article>
{% elif page == "chart" %}
    <article>
        <div class="row">
            {% include "doc/" ~ lang ~ "/chart.html" %}
        </div>
    </article>
{% elif page == "gallery" %}
    <nav class="navbar fixed top sub">
        <div class="center">
            {% include "doc/" ~ lang ~ "/gallery_title.html" %}
        </div>
    </nav>
    <article>
        {% include "gallery/list.html" %}
    </article>
{% elif page.startswith("gallery.") %}
    <article>
        {% include "gallery/view.html" %}
    </article>
{% else %}
    <nav class="navbar fixed top sub">
        <div class="center">
            {% if page == "install" %}
                {% include "doc/" ~ lang ~ "/install_title.html" %}
            {% elif page == "basic" %}
                {% include "doc/" ~ lang ~ "/basic_title.html" %}
            {% endif %}
        </div>
    </nav>
    <article>
        <div class="center row">
            {% include "doc/" ~ lang ~ "/" ~ page ~ ".html" %}
        </div>
    </article>
{% endif %}

{% include "doc/footer.html" %}
</body>
</html>
